*, *::before, *::after {
    box-sizing: border-box;
    font-family: cursive;
}

body {
    padding: 0;
    margin: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 100vh;
    background: url('img/inside-bar.jpg');
    background-size: cover;
    font-family: cursive;
}

#splash {
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    transition: 1s;
}

#splash-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.sptxt {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
    font-family: cursive;
}

.sptxt.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.sptxt.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}


.toilet-room{
    background-image: url("img/toilet-room.png");
}


#container, #container1, #container2, #container3, #container4, #container5, #container6, #container7, #container8, #container9, #container10, #container11, #container12, #container13, #container14, #container15, #container16 {
    position:fixed; TOP:50%; RIGHT: 10%;
    width: 800px;
    max-width: 80%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    border:2px solid red;
    
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
}

.btn {
    background-color: red;
    border: 1px solid red;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
    font-family: cursive;
}

.btn:hover {
    border-color: black;
}

.toiletDoor  {
    position:fixed; TOP:27%; RIGHT: 50%;
    height: 165px; 
    width: 100px;
    cursor: pointer;
}
.toiletDoor1  {
    position:fixed; TOP:27%; RIGHT: 50%;
    height: 165px; 
    width: 100px;
    cursor: pointer;
    animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
  }

#price-list{
    position:fixed; TOP:20%; RIGHT: 35%;
    height: 140px; 
    width: 210px;
    cursor: pointer;
}

#price-list:hover{
    position:fixed; TOP:20%; RIGHT: 35%;
    height: 300px; 
    width: 500px;
    z-index: 1;
}
#keg-one{
    position:fixed; bottom:-1%; LEFT: 20%;
height: 160px; 
width: 90px;
cursor: pointer;
}
#keg-two{
    position:fixed; bottom:-1%; LEFT: 25%;
height: 160px; 
width: 90px;
cursor: pointer;
}

#beer {
    position: fixed;
    TOP: 35%;
    RIGHT: 35%;
    height: 80px;
    width: 35px;
    cursor: pointer;
    animation: shake 3s;
  animation-iteration-count: infinite;
}

.drunkEffect {
    filter: blur(4px);
    backdrop-filter: blur(5px);
}

#wholeTimer{
    position:fixed; top: 5%; LEFT: 0%;
    color: white;
}
#timeOut{
    position:fixed; top: 5%; LEFT: 7%;
    color: white;
}
#wholePoints{
    position:fixed; top: 10%; LEFT: 0%;
    color: white;
}